/* Global */
:root {
  /* color */
  --color-white: #fff;
  --color-light-white: #eee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff6cd;
  --color-black: #000;
  --color-orange: #feac3e;

  /* font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 21px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-thin: 100;

  /* size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tages */
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul,
li {
  list-style: none;
  padding-left: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  width: 100%;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 99;
}
#navbar.navbar--dark {
  background: var(--color-pink);
  padding: 8px;
}
.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
}
.navbar_menu_item.active {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-pink);
}
.navbar_menu_item:hover {
  border: 1px solid var(--color-white);
}

.navbar_menu_item.active {
  border: 1px solid var(--color-white);
}
.navbar_menu_item.active {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-pink);
}
.navbar_menu_item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}
/* home */
#Home {
  background: url("../images/homebackground.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}

/* section common */
.section {
  padding: 50px;
  text-align: center;
  margin: 0 auto;
}
.section__container {
  max-width: 1200px;
  margin: 0 auto;
}
/* About */
.about_majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  border: 1px solid var(--color-blue);
  margin: 0 auto;
  line-height: 170px;
  font-size: 70px;
  border-radius: 50%;
  color: var(--color-blue);
  margin-bottom: 16px;
  cursor: pointer;
}
.major__icon i {
  transition: all var(--animation-duration);
}
.major__icon i:hover {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}
.major__title,
.major__desc {
  color: var(--color-dark-grey);
}
.major__desc {
  font-size: var(--font-small);
}

.job {
  display: flex;
  text-align: center;
  margin-top: 30px;
}
.job img {
  width: 100px;
  border: 1px solid #ccc;
  padding: 5px 7px;
}
.job_desc {
  margin: 0 16px;
  text-align: left;
}
.job__name,
.job__period {
  color: var(--color-light-grey);
}
.job__name {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}
.job__period {
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
}

/* Skill */
#skills {
  background: var(--color-yellow);
}
.skillset {
  display: flex;
  background: var(--color-light-grey);
  color: var(--color-light-white);
  width: 100%;
  margin: 20px 0;
}
.skillset_title {
  color: var(--color-white);
}
.skillset__left {
  flex-basis: 60%;
  background: var(--color-dark-grey);
  padding: 15px 40px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.skill__description span:first-child {
  font-size: 16px;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
  margin: 10px 0 15px 0;
  border-radius: 30px;
}
.skill__value {
  height: 3px;
  background: var(--color-orange);
  border-radius: 30px;
}
.skillset__right {
  flex-basis: 40%;
}
.tools,
.etc {
  padding: 15px 0;
}
.tools {
  background: var(--color-grey);
}
.etc {
  background: var(--color-light-grey);
}

/* Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  padding: 8px 48px;
}
.category__btn.selected,
.category__btn:hover {
  background: var(--color-pink);
  color: var(--color-white);
  border: 1px solid var(--color-pink);
}
.category__count {
  background: var(--color-orange);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--color-white);
  display: inline-block;
  line-height: 20px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}
.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
}

.work__projects.anim-out {
  opacity: 0;
  transform: translateY(40px) scale(0.96);
  transition: all var(--animation-duration) ease-out;
}

.project {
  width: 240px;
  height: 250px;
  margin: 2px;
  position: relative;
  background: var(--color-light-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__desc {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(30px);
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project__desc {
  opacity: 1;
  transform: translateY(0px);
}
.project__desc h3 {
  color: var(--color-orange);
  position: relative;
}
.project__desc h3:after {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  background: var(--color-dark-white);
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4px;
}
/* testimonials */
#testimonials {
  background: var(--color-light-white);
}

.testimonial {
  margin: 32px 0px;
  display: flex;
}
.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 11px;
}
.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  background: var(--color-white);
  padding: 18px;
  border-radius: var(--size-border-radius);
}
.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}
.testimonial__speech-bubble a {
  color: var(--color-pink);
}

/* contact */
#contact {
  background: var(--color-pink);
}
.contact__title,
.contect__email,
.contact__rights {
  color: var(--color-white);
}
.contact__title {
  margin: 32px 0;
}
.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}
.contact__links i {
  transition: all var(--animation-duration) ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}
/* arrow up */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  background: var(--color-dark-pink);
  font-size: 42px;
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* for blow 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background: var(--color-pink);
  }
  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }
  .about_majors {
    flex-direction: column;
  }
  .major {
    margin-bottom: 38px;
  }
  .job {
    flex-direction: column;
    align-items: center;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}
